@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');

/* fonts */
/* font-family: 'Lora', serif;
   font-family: 'Roboto', sans-serif; */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(0, 69, 141);
}


/* Header */

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    height: fit-content;
    color: white;
    background-color: rgb(100, 0, 52);
}

.logo img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 30px;
    border-radius: 50px;
}

.heading {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.heading a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: 400;
}

div.navigation {
    display: flex;
    align-items: flex-end;
}

.navigation ul {
    display: flex;
    list-style-type: none;
}

ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 30px 20px 0;
}

li a {
    color: white;
    text-decoration: none;
}


/* Hero Image */

#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 850px;
    width: 100%;
    background: url('../images/Summerville_pitch.png') no-repeat center center;

    /* image zoom effect */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

#cover-text {
    color: rgb(100, 0, 52);
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    letter-spacing: 2px;

    width: 360px;
    height: 210px;

    padding: 30px;

    background-color: rgba(255, 255, 255, 0.6);

    bottom: 50px;
    right: 200px;

    position: absolute;
}