@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: rgb(0, 69, 141);
}


/* Header */

.flex-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-family: 'Lora', sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
    height: fit-content;
    color: white;
    background-color: rgb(100, 0, 52);
}

.logo img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 30px;
    border-radius: 50px;
}

.heading {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.heading a {
    color: white;
    text-decoration: none;
    font-size: x-large;
    font-weight: 400;
}

/* Navigation */

div.navigation {
    display: flex;
    align-items: flex-end;
}

.navigation ul {
    display: flex;
    list-style-type: none;
}

ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 0 30px 20px 0;
}

li a {
    color: white;
    text-decoration: none;
}

li a:hover {
    color: rgb(103, 182, 250);
    border-bottom: 2px solid;
}

.active {
    color: rgb(103, 182, 250);
    border-bottom: 2px solid;
}


/* Home Hero Image */

#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#hero-image {
    height: 850px;
    width: 100%;
    background: url('../images/Summerville_pitch.png') no-repeat center center;

    /* image zoom effect */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: backwards;
}

@keyframes hero-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}

#cover-text {
    color: rgb(100, 0, 52);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    letter-spacing: 2px;

    width: 410px;
    height: 360px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);

    padding: 30px;
    background-color: rgba(255, 255, 255, 0.6);

    right: 260px;
    bottom: 40px;
    position: absolute;
}

#cover-text h1 {
    text-align: center;
    font-size: 28px;
    font-weight: 600;
}

div h3 {
    text-align: justify;
    font-weight: 400;
}


/* Form Background Image */

#form-outer {
    height: 850px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#form-image {
    height: 650px;
    width: 100%;
    background: url('../images/portland_park.png') no-repeat top center;
}

#form-text {
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;

    width: 450px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);

    padding: 30px;

    background-color: rgba(100, 0, 52, 0.75);

    right: 35px;
    bottom: 75px;

    position: absolute;

}

#form-text h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.line2 {
    text-align: justify;
}


/* Welcome Section */

.welcome {
    text-align: center;
    font-size: xx-large;
    font-weight: 400;
    margin-top: 30px;
    letter-spacing: 2px;
}