@import url('https://fonts.googleapis.com/css2?family=Lora&family=Roboto:wght@300&display=swap');

/* Global */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    color: #3f3f3f;
}

/* Header */

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(100, 0, 52);
}

#club-logo {
    align-self: flex-start;
    display: flex;
    width: 100px;
    margin: 20px;
}

h1 {
    display: flex;
    font-family: Lora, sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: white;
}

#menu {
    float: right;
    margin-right: 30px;
}